<html>
    <head>
        <title>Schedule Breakdown</title>
    </head>
    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
</style>
    <body>
      <h1>Schedule Breakdown:</h1>

      <p>
              % spent doing athletics - {{percentages.athper}}%
              <br>
      % spent with family - {{percentages.familyper}}%
      <br>
      % spent with relationship - {{percentages.relationshipper}}%

      <br>
      % spent socializing - {{percentages.socialper}}%
      <br>
      % spent travelling - {{percentages.travelper}}%
      <br>
      % spent working - {{percentages.workper}}%
</p>


    <br>
    <br>
      <button><a href="/add">Add an Event!</a></button>
      <button><a href="/index">See your calendar!</a></button>
    </body>
</html>
